

<!--<h1>Bjørn test app</h1>-->
<!--&lt;!&ndash; This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) &ndash;&gt;-->
<!--<nav>-->
<!--  <ul>-->
<!--    <li><a routerLink="/first-component" routerLinkActive="active">First Component</a></li>-->
<!--    <li><a routerLink="/second-component" routerLinkActive="active">Second Component</a></li>-->
<!--  </ul>-->
<!--</nav>-->
<!-- The routed views render in the <router-outlet>-->

<div class="container p-5">
  <a class="display-1" routerLink="/demos/test" routerLinkActive="active">Demo test</a>
  <router-outlet></router-outlet>
</div>

<!--<div class="d-flex flex-column align-items-center">-->
<!--  <bv-resume-page1 class="my-5">-->
<!--  </bv-resume-page1>-->
<!--</div>-->

