<bv-resume-layout class="d-flex flex-row">
  <!-- Side menu -->
  <bv-side-menu-content>
    <bv-side-section [header]="'Kvaliteter'">

    </bv-side-section>

    <bv-side-section [header]="'Kompetencer'">

    </bv-side-section>
  </bv-side-menu-content>

  <!-- Header -->
  <bv-title-content>
    <h1>Bjørn Vinther</h1>
    <h5>Software developer</h5>
  </bv-title-content>

  <!-- Main content -->
  <bv-section [header]="'Personal information'">
    <p>Jeg er 28 årig fyr som interesserer mig meget for programmering. Jeg er på den ene side altid meget
      struktureret og har en god logisk sans,
      men på samme tid er jeg også meget kreativ. Programmering er et drømmejob for mig, fordi jeg både kan bruge min
      logiske sans i backend, og min
      kreative sans i frontend. Jeg ser kode som et håndværk og jeg har en stor stolthed over det kode jeg leverer.
      Det betyder at jeg måske bruger lidt ekstra tid,
      men til gengæld er det endelige resultat gennemtestet, funktionelt og uden dumme designfejl. Jeg går derudover
      også meget op i at lave pæn og logisk
      opbygget kode - ikke kun for mig selv, men ligeså meget for andre. Jeg er ikke bare for selv at tage ansvar,
      opsøge viden eller tage initiativ.
    </p>
    <p>
      Når jeg ikke programmerer kan jeg godt lide at spille computer, tegne (digitalt eller i hånden), spille klaver
      og være fysisk aktiv.
      Jeg er meget social, let og snakke med og altid god til at sprede en positiv stemning. Det betyder meget for mig
      at alle er glade for at være på arbejdspladsen. :)
    </p>
  </bv-section>

  <bv-section [header]="'Arbejde'">


    <div class="mb-3">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column mr-4">
          <b>Software developer</b>
          <p>Dalux</p>
          <p>Jul 2017 - Idag</p>
        </div>

        <p>
          Som fuldtidsansat i Dalux har jeg arbejdet med både frontend og backend på daglig basis. Backend har primært
          bestået af C# og SQL. Frontend har primært bestået af Angular, HTML, Typescript og CSS.
          Derudover har jeg været ansvarlig for bl.a. integrationer til eksterne systemer, migrering af kundedata, test
          og fejlretning, refaktorering af central kode og udvikling af nye centrale systemer og funktioner.
        </p>
      </div>

      <div class="d-flex flex-row">
        <div class="d-flex flex-column mr-4">
          <b>Software developer</b>
          <p>Dalux</p>
          <p>Jul 2017 - Idag</p>
        </div>

        <p>
          Som fuldtidsansat i Dalux har jeg arbejdet med både frontend og backend på daglig basis. Backend har primært
          bestået af C# og SQL. Frontend har primært bestået af Angular, HTML, Typescript og CSS.
          Derudover har jeg været ansvarlig for bl.a. integrationer til eksterne systemer, migrering af kundedata, test
          og fejlretning, refaktorering af central kode og udvikling af nye centrale systemer og funktioner.
        </p>
      </div>
    </div>
  </bv-section>


</bv-resume-layout>








